:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #33CCFF;
}

form {
    margin: auto;
}

h1 {
    text-align: center;
}

.form-container {
    max-width: 480px;
    margin: auto;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.25);
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.5rem;
}

.input-group:not(:has(input[type="radio"])) {
    grid-column: 1/span 2;
    display: flex;
    margin: auto;
}

.input-group > * {
    margin: 0 0.25rem;
}

input:not([type="radio"]) {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 1.5px solid #00000099;
    padding: 4px;
}

button, .btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 0.2rem 0.4rem;
    border: 0;
    border-radius: 5px;
    background-color: #00CC66;
}

    button:hover, .btn:hover {
        background-color: #00CC33;
    }

    button:focus, .btn:focus {
        outline: 2px solid #f45b69;
    }

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: min-content;
    margin: auto;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1rem;
}

    table td, table th {
        border: none;
        border-bottom: 1.5px solid #ddd;
        padding: 8px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    table tr:nth-child(odd) {
        background-color: #fff;
    }

    table tr:hover {
        background-color: #ddd;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #CC99FF;
        color: white;
    }