:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f45b69;
}

.form-container {
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23FFFFFF' width='11' height='11'/%3E%3Crect fill='%23fcfcfd' x='10' width='11' height='11'/%3E%3Crect fill='%23f9fafb' y='10' width='11' height='11'/%3E%3Crect fill='%23f5f7f9' x='20' width='11' height='11'/%3E%3Crect fill='%23f2f4f7' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23eff1f5' y='20' width='11' height='11'/%3E%3Crect fill='%23eceff3' x='30' width='11' height='11'/%3E%3Crect fill='%23e9ecf1' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23e5e9ef' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e7ee' y='30' width='11' height='11'/%3E%3Crect fill='%23dfe4ec' x='40' width='11' height='11'/%3E%3Crect fill='%23dce1ea' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d9dfe8' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d6dce6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d2d9e4' y='40' width='11' height='11'/%3E%3Crect fill='%23cfd7e2' x='50' width='11' height='11'/%3E%3Crect fill='%23ccd4e0' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23c9d1de' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23c6cfdc' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23c3ccda' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23c0c9d8' y='50' width='11' height='11'/%3E%3Crect fill='%23bcc7d6' x='60' width='11' height='11'/%3E%3Crect fill='%23b9c4d5' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b6c2d3' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b3bfd1' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23b0bccf' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23adbacd' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23aab7cb' x='70' width='11' height='11'/%3E%3Crect fill='%23a7b5c9' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23a4b2c7' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a0b0c5' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239dadc4' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239aabc2' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2397a8c0' x='80' width='11' height='11'/%3E%3Crect fill='%2394a5be' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2391a3bc' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%238ea0ba' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%238b9eb8' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23889bb6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%238599b5' x='90' width='11' height='11'/%3E%3Crect fill='%238296b3' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%237e94b1' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%237b92af' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23788fad' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23758dab' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23728aaa' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%236f88a8' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%236c85a6' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%236983a4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%236581a2' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23627ea0' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%235f7c9f' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%235c799d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2359779b' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23567599' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23527297' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%234f7095' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%234c6e94' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23486b92' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23456990' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.25);
    max-width: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.5rem;
}

.input-group:not(:has(input[type="radio"])) {
    grid-column: 1/span 2;
    display: flex;
    margin: auto;
}

.input-group > * {
    margin: 0 0.25rem;
}

input:not([type="radio"]) {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 1.5px solid #00000099;
    padding: 4px;
}

button {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 0.2rem 0.4rem;
    border: 0;
    border-radius: 5px;
    background-color: #f45b69;
}

    button:hover {
        background-color: #f24353;
    }

    button:focus {
        outline: 2px solid #f45b69;
    }

table{
    width: 100%;
}